* {
    background-color: #13151e;
    margin: 0;
    text-align: center;
    font-size: 16px;
}

p:nth-child(1) {
    padding-top: 20px;
    padding-bottom: 5px;
}

p:nth-child(2) {
    padding-bottom: 20px;
    padding-top: 5px;
}